services:
  api:
    build:
      context: .
      dockerfile: packages/api/Dockerfile.dev
    volumes:
      - ./packages/api/src:/app/packages/api/src
      - ./tsconfig.base.json:/app/tsconfig.base.json

  web:
    build:
      context: .
      dockerfile: packages/web/Dockerfile.dev
    ports:
      - '5173:5173'
    volumes:
      - ./packages/web/src:/app/packages/web/src
      - ./packages/web/index.html:/app/packages/web/index.html
      - ./packages/web/vite.config.ts:/app/packages/web/vite.config.ts
    environment:
      VITE_API_URL: ${VITE_API_URL}
      VITE_KEYCLOAK_URL: ${VITE_KEYCLOAK_URL}
      VITE_KEYCLOAK_REALM: ${VITE_KEYCLOAK_REALM}
      VITE_KEYCLOAK_CLIENT_ID: ${VITE_KEYCLOAK_CLIENT_ID}
